@model IEnumerable<MvcMovie.Models.Person>

@{
    ViewData["Title"] = "Mục lục người";
}

<h1>Mục lục</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.PersonId">Thông tin</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
