@model MvcMovie.Models.Student

@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<h1>Thông tin</h1>

<div>
    <h4>Sinh viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Sửa</a> |
    <a asp-action="Index">Quay lại mục lục</a>
</div>
